name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
        
      - name: Compile detailed specification
        uses: xu-cheng/latex-action@master
        with:
          root_file: detailed_spec.tex
          working_directory: detailed_spec
      - name: Upload detailed specification
        uses: actions/upload-artifact@v1
        with:
          name: Detailed-specification
          path: detailed_spec/detailed_spec.pdf
      
      - name: Compile user documentation
        uses: xu-cheng/latex-action@master
        with:
          root_file: user_docs.tex
          working_directory: user_documentation
      - name: Upload detailed specification
        uses: actions/upload-artifact@v1
        with:
          name: User-documentation
          path: user_documentation/user_docs.pdf
